/backend/SqlServerConnectorLibrary/.vs/SqlServerConnectorLibrary/v17
/backend/SqlServerConnectorLibrary/obj/Debug/net8.0
obj
v17
/backend/api/.vs/api/config
/backend/api/.vs/
/backend/api/obj/
/backend/api/bin/